<div class="modal @(IsVisible ? "d-block show" : "d-none")" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content shadow-lg rounded-3">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title fw-bold">@PopupHeader</h5>
            </div>
            <div class="modal-body">
                @PopupContent
            </div>
            <div class="modal-footer">
                @PopupFooter
            </div>
        </div>
    </div>
</div>

<div class="modal-backdrop fade @(IsVisible ? "show" : "")"></div>

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter] public required RenderFragment PopupContent { get; set; }
    [Parameter] public required RenderFragment PopupHeader { get; set; }
    [Parameter] public required RenderFragment PopupFooter { get; set; }
}
