Api.TeamManagement/bin/
Api.TeamManagement/obj/
Web.TeamManagement.Blazor/bin/
Web.TeamManagement.Blazor/obj/
TeamManagement.sln.DotSettings.user
.idea/
.vs/
Api.TeamManagement/Logs
Web.TeamManagement.Blazor/Logs

