@page "/Departments"
@using Web.TeamManagement.Blazor.Services.Contracts
@inject IDepartmentService DepartmentService
@inject ILogger<Departments> Logger

<h3>Departments</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var departments = await DepartmentService.GetDepartmentsAsync();
            foreach (var department in departments)
            {
                Logger.LogInformation(department.Name);
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Failed to fetch departments.");
        }
    }
}